.full-screen {
	min-height: 100vh;
}
.font-pri {
	font-size: 50px;
	font-family: 'Merriweather', serif;
	letter-spacing: 2px;
	margin: 0;
}
.font-sec {
	font-size: 26px;
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
	margin: 0;
}
.desc {
	font-size: 20px;
	font-family: 'Lora', serif;
	font-style: italic;
	line-height: 2rem;
}

/* ==========================================================================
   Navbar Style
   ========================================================================== */

.home-banner:after {
	content: '';
	position: absolute;
	right: -20vh;
	bottom: -20vh;
	width: 110vh;
	height: 110vh;
	border-radius: 50%;
	background: var(--color-primary);
	z-index: -1;
}
*,
:after,
:before {
	box-sizing: border-box;
}
